@model QLDayChuyenSanXuat.Models.tbl_PhieuXuat
@using QLDayChuyenSanXuat.Models
@using Newtonsoft.Json
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLDayChuyenSX db = new QLDayChuyenSX();
    var lisPB = db.tbl_PhongBan.Select(x => x.MaPB).ToList();
    var PBYC = db.tbl_User.Where(x => x.ADID == Model.NguoiYeuCau).FirstOrDefault();
    var PBPD = db.tbl_User.Where(x => x.ADID == Model.NguoiPheDuyet).FirstOrDefault();
    var chiTietList = ViewBag.ChiTiet as IEnumerable<dynamic>;
    var linhKienList = ViewBag.LinhKienList as IEnumerable<dynamic>;

}

<div class="conten">
    <div class="header" style="text-align:center;color:red;">
        <h4>Phiếu xuất kho</h4>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="display:flex;">
            <div class="left-column">
                <div class="row_PHL">
                    <span class="coll_PHL">Số phiếu <span style="color:red;">*</span></span>
                    <input class="col2" type="text" name="SoPhieu" value="@Model.SoPhieu" />
                </div>
                <div class="row_PHL">
                    <span class="coll_PHL">Ngày lập</span>
                    <input class="col2" type="datetime" name="NgayLap" value="@(Model.NgayLap.HasValue ? Model.NgayLap.Value.ToString("dd-MM-yyyy") : "")" readonly />
                </div>
                <div class="row_PHL">
                    <span class="coll_PHL">Người tạo phiếu</span>
                    <input class="col2" type="text" readonly name="NguoiTaoPhieu" value="@Model.NguoiTaoPhieu" />
                </div>
                <div class="row_PHL">
                    <span class="coll_PHL">Người cập nhật</span>
                    <input class="col2" type="text" readonly name="NguoiCapNhat" value="@Session["ADID"]" />
                </div>
            </div>
            <div class="right-column">
                <div class="row_PHL">
                    <span class="coll_PHL">Người yêu cầu <span style="color:red;">*</span></span>
                    <div class="col2">
                        <div class="row_PHL">
                            <span class="coll_PHL">Phòng ban</span>
                            <select required class="col2" name="PhongBan" id="PhongBanYC">
                                <option value="">-Chọn-</option>
                                @foreach (var item in lisPB)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                        <div class="row_PHL">
                            <span class="coll_PHL">Email<span style="color:red;">*</span></span>
                            <select required class="col2" name="EmailYC" id="EmailYC">
                                <option value="">-Chọn-</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row_PHL">
                    <span class="coll_PHL">Người phê duyệt <span style="color:red;">*</span></span>
                    <div class="col2">
                        <div class="row_PHL">
                            <span class="coll_PHL">Phòng ban</span>
                            <select required class="col2" name="PhongBan" id="PhongBanPD">
                                <option value="">-Chọn-</option>
                                @foreach (var item in lisPB)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                        <div class="row_PHL">
                            <span class="coll_PHL">Email<span style="color:red;">*</span></span>
                            <select required class="col2" name="EmailPD" id="EmailPD">
                                <option value="">-Chọn-</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style=" max-width: 100%; width: 100%;">
            <table id="tableLinhKien" style=" max-width: 100%; width: 100%;" class="table">
                <thead>
                    <tr>
                        <th>Mã linh kiện</th>
                        <th>Tên linh kiện</th>
                        <th>Số lượng</th>
                        <th>Vị trí lưu trữ</th>
                        <th>Nhà cung cấp</th>
                        @if (Model.TrangThai == "Chờ phê duyệt")
                        {
                            <th>
                                <button type="button" id="btnAddRow">+</button>
                            </th>
                        }
                        else
                        {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (chiTietList != null)
                    {
                        foreach (var item in chiTietList)
                        {
                            <tr>
                                <td>
                                    <select required name="MaLK[]" class="maLK">
                                        <option value="">--Chọn--</option>
                                        @foreach (var lk in linhKienList)
                                        {
                                            <option value="@lk.MaLinhKien" @(lk.MaLinhKien == item.MaLinhKien ? "selected" : "")>@lk.MaLinhKien</option>
                                        }
                                    </select>
                                </td>
                                <td><input type="text" class="tenLK" name="TenLK[]" value="@item.TenLinhKien" readonly /></td>
                                <td><input required type="number" name="SoLuong[]" value="@item.SoLuong" min="1" /></td>
                                <td><input type="text" class="viTri" name="ViTri[]" value="@item.ViTriLuuTru" readonly /></td>
                                <td><input type="text" class="nhaCC" name="NhaCC[]" value="@item.NhaCungCap" readonly /></td>
                                @if (Model.TrangThai == "Chờ phê duyệt")
                                {
                                    <td><button type="button" class="btnRemove">X</button></td>
                                }
                                else
                                {
                                    <td></td>
                                }

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="footer">
            @if (((string)Session["ADID"] == Model.NguoiYeuCau || (string)Session["ADID"] == Model.NguoiTaoPhieu) && Model.TrangThai == "Chờ phê duyệt")
            {
                <input type="submit" value="Cập nhật" class="btn report-button" />
                <a href="@Url.Action("UpdateTrangThai", "PhieuXuat", new { sophieu = Model.SoPhieu, nguoiUpdate = (string)Session["ADID"]})" class="btn" style="background-color: gray; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; font-weight: bold;"><i class="fa fa-pen-nib"></i>&nbsp;Hủy phiếu</a>
            }
            else if (Model.TrangThai == "Đang giao hàng" && (string)Session["ADID"] == Model.NguoiYeuCau)
            {
                <input type="submit" value="Đã nhận hàng" class="btn" style="background-color:lightgreen;border:none;margin-right:5px;" />
            }

        </div>
    }
    <div class="footer">
        @if ((string)Session["ADID"] == Model.NguoiPheDuyet && Model.TrangThai == "Chờ phê duyệt")
        {
            <button type="button" data-toggle="modal" data-target="#ModalPDNG" class="btn" style="background-color:red;border:none;margin-right:5px;"><i class="fa fa-pen-nib"></i>&nbsp;Phê duyệt NG</button>
            <div class="modal fade" id="ModalPDNG" role="dialog" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="@Url.Action("PheDuyetNG", "PhieuXuat", new {sophieu = Model.SoPhieu})">
                            <div class="modal-header" style=" background-color: #0063cc; color: white;">
                                <h4>Phán định NG</h4>
                                <button class="close" data-dismiss="modal" style="color:white">&times;</button>
                            </div>
                            <div class="modal-body">
                                <table style="width: 100%;">
                                    <tr>
                                        <th>Số phiếu</th>
                                        <td>
                                            <input type="text" name="sophieu" readonly style="width:100%;max-width:100%;padding:5px;" value="@Model.SoPhieu" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Lý do</th>
                                        <td>
                                            <textarea placeholder="Nhập lý do" name="LyDo" style="white-space:pre-wrap;width:100%;max-width:100%;"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn bg-secondary" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-danger">Phán định NG</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("PheDuyetOK", "PhieuXuat", new {sophieu = Model.SoPhieu})" class="btn" style="background-color:lightgreen;border:none;margin-right:5px;"><i class="fa fa-pen-nib"></i>&nbsp;Phê duyệt Ok</a>
        }
        else if (Model.TrangThai == "Đã phê duyệt" && (string)Session["ADID"] == Model.NguoiTaoPhieu)
        {
            <a href="@Url.Action("UpdateTrangThai", "PhieuXuat", new { sophieu = Model.SoPhieu, nguoiUpdate = (string)Session["ADID"] })" class="btn" style="background-color:lightgreen;border:none;margin-right:5px;"><i class="fa fa-pen-nib"></i>&nbsp;Đang giao hàng</a>
        }
    </div>
</div>

<div style=" color: cornflowerblue; font-size: large;">
    &nbsp;&nbsp;<i class="fas fa-arrow-left"></i>&nbsp;<a href="@Url.Action("Index", "PhieuXuat")" style=" color: cornflowerblue;">Back to list</a>
</div>
<style>
    .row_PHL {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .coll_PHL {
        width: 30%;
        display: block;
        margin-right: 5px;
        font-weight: bold;
        color: black;
    }

    .col2 {
        max-width: 70%;
        width: 70%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .conten {
        margin: 1% 5%;
        border-radius: 10px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
    }

    .header {
        align-items: center;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

    .left-column, .right-column {
        width: 50%;
        padding: 10px;
        /*flex: 1;*/
    }

    .left-column {
        margin-right: 3%;
    }



    .footer {
        margin-top: 20px;
        text-align: center;
    }

    .report-button {
        background-color: #dc3545; /* Màu đỏ tương tự */
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }

        .report-button:hover {
            background-color: #c82333;
        }
</style>

<script>
            var trangThaiPhieu = "@Html.Raw(Model.TrangThai)";
        var showDeleteButton = (trangThaiPhieu === "@Html.Raw("Chờ phê duyệt")");

        var deleteButtonHtml = showDeleteButton
            ? '<td><button type="button" class="btnRemove">X</button></td>'
            : '<td></td>';

    $(document).ready(function () {
        $('form').submit(function (e) {
            var rowCount = $('#tableLinhKien tbody tr').length;
            if (rowCount === 0) {
                alert("Vui lòng thêm ít nhất một linh kiện vào phiếu xuất!");
                e.preventDefault(); // Ngăn submit form
            }
        });

        function Email(maPB, eMail, selected) {
        if (maPB) {
            // If a department is selected, make the AJAX call to get the emails
            $.ajax({
                url: '@Url.Action("Email", "DetailLoi")',  // Replace with your actual controller action name and controller
                type: 'GET',
                data: { MaPB: maPB },
                success: function (response) {
                    if (response.success) {
                        var emails = response.emails;
                        var emailSelect = $(eMail);
                        emailSelect.empty();  // Clear the existing options
                        emailSelect.append('<option value="">-Chọn-</option>');  // Reset to default option

                        // Append each email as an option to the email dropdown
                        $.each(emails, function (index, email) {
                            var isSelected = email === selected ? 'selected' : '';
                            emailSelect.append('<option value="' + email + '"' + isSelected +'>' + email + '</option>');
                        });
                    }
                }
            });
        }
        }

        function changeEmail(maPB, eMail) {
        if (maPB) {
            // If a department is selected, make the AJAX call to get the emails
            $.ajax({
                url: '@Url.Action("Email", "DetailLoi")',  // Replace with your actual controller action name and controller
                type: 'GET',
                data: { MaPB: maPB },
                success: function (response) {
                    if (response.success) {
                        var emails = response.emails;
                        var emailSelect = $(eMail);
                        emailSelect.empty();  // Clear the existing options
                        emailSelect.append('<option value="">-Chọn-</option>');  // Reset to default option

                        // Append each email as an option to the email dropdown
                        $.each(emails, function (index, email) {
                            emailSelect.append('<option value="' + email + '">' + email + '</option>');
                        });
                    }
                }
            });
        }
        }
                function EmailPD(maPB, eMail, selected) {
        if (maPB) {
            // If a department is selected, make the AJAX call to get the emails
            $.ajax({
                url: '@Url.Action("EmailPD", "DetailLoi")',  // Replace with your actual controller action name and controller
                type: 'GET',
                data: { MaPB: maPB },
                success: function (response) {
                    if (response.success) {
                        var emails = response.emails;
                        var emailSelect = $(eMail);
                        emailSelect.empty();  // Clear the existing options
                        emailSelect.append('<option value="">-Chọn-</option>');  // Reset to default option

                        // Append each email as an option to the email dropdown
                        $.each(emails, function (index, email) {
                            var isSelected = email === selected ? 'selected' : '';
                            emailSelect.append('<option value="' + email + '"' + isSelected +'>' + email + '</option>');
                        });
                    }
                }
            });
        }
        }

        function changeEmailPD(maPB, eMail) {
        if (maPB) {
            // If a department is selected, make the AJAX call to get the emails
            $.ajax({
                url: '@Url.Action("EmailPD", "DetailLoi")',  // Replace with your actual controller action name and controller
                type: 'GET',
                data: { MaPB: maPB },
                success: function (response) {
                    if (response.success) {
                        var emails = response.emails;
                        var emailSelect = $(eMail);
                        emailSelect.empty();  // Clear the existing options
                        emailSelect.append('<option value="">-Chọn-</option>');  // Reset to default option

                        // Append each email as an option to the email dropdown
                        $.each(emails, function (index, email) {
                            emailSelect.append('<option value="' + email + '">' + email + '</option>');
                        });
                    }
                }
            });
        }
        }


        var selectedPBYC = document.getElementById("PhongBanYC");
        selectedPBYC.value = "@Html.Raw(PBYC.MaPB)";
        Email("@Html.Raw(PBYC.MaPB)", "#EmailYC", "@Html.Raw(PBYC.Mail)");

        $('#PhongBanYC').change(function () {
            var maPB = $(this).val();  // Get the selected department value
            changeEmail(maPB, null);
        });

        var selectedPBPD = document.getElementById("PhongBanPD");
        selectedPBPD.value = "@Html.Raw(PBPD.MaPB)";
        EmailPD("@Html.Raw(PBPD.MaPB)", "#EmailPD", "@Html.Raw(PBPD.Mail)");
        $('#PhongBanPD').change(function() {
            var maPB = $(this).val();  // Get the selected department value
            changeEmailPD(maPB, null);
         });

    var linhKienData = @Html.Raw(JsonConvert.SerializeObject(ViewBag.LinhKienList));



        $('#btnAddRow').click(function () {
            var selectHtml = '<select required name="MaLK[]" class="maLK"><option value="">--Chọn--</option>';
            linhKienData.forEach(function (item) {
                selectHtml += `<option value="${item.MaLinhKien}">${item.MaLinhKien}</option>`;
            });
            selectHtml += '</select>';

            var row = `
                <tr>
                    <td>${selectHtml}</td>
                    <td><input type="text"  class="tenLK" readonly /></td>
                    <td><input required type="number"name="SoLuong[]" name="SoLuong" min="1" required /></td>
                    <td><input type="text" class="viTri" readonly /></td>
                    <td><input type="text" class="nhaCC" readonly /></td>
                    ${deleteButtonHtml}
                </tr>
            `;
            $('#tableLinhKien tbody').append(row);
        });

        // Delegate select change
        $('#tableLinhKien').on('change', '.maLK', function () {
            var selectedMa = $(this).val();
            var row = $(this).closest('tr');
            var data = linhKienData.find(x => x.MaLinhKien === selectedMa);
            if (data) {
                row.find('.tenLK').val(data.TênLinhKien);
                row.find('.viTri').val(data.ViTriLuuTru);
                row.find('.nhaCC').val(data.NhaCungCap);
            } else {
                row.find('.tenLK').val('');
                row.find('.viTri').val('');
                row.find('.viTri').val('');
            }
        });

        // Remove row
        $('#tableLinhKien').on('click', '.btnRemove', function () {
            $(this).closest('tr').remove();
        });
});
</script>
