@using QLDayChuyenSanXuat.Models
@{
    ViewBag.Title = "CaiDat";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLDayChuyenSX db = new QLDayChuyenSX();
    var ADID = (string)Session["ADID"];
    var User = db.tbl_User.Where(x => x.ADID == ADID).FirstOrDefault();
    var loiPH = db.tbl_DetailLoi.Where(x => x.NguoiPhatHanh == ADID).ToList();
    var loiDN = db.tbl_DetailLoi.Where(x => x.NguoiDamNhiemChinh == ADID || x.NguoiDNGhiNhapNN == ADID || x.NguoiDNGhiNhapDSTT == ADID || x.NguoiDNGhiNhapDSCH == ADID || x.NguoiDNPheDuyetDS == ADID || x.NguoiDNGhiNhapHQ == ADID || x.NguoiDNPheDuyetHQ == ADID).ToList();
}
<style>
    .dong {
        margin: 3% 5%;
        display: flex;
        height: 5%;
    }

    .cot1 {
        max-width: 50%;
        width: 50%;
        display: block;
        font-weight: bold;
    }

    .cot2 {
        width: 50%;
        max-width: 50%;
    }

    .cot3 {
        width: 70%;
        text-align: center;
    }

    .check {
        width: 25px;
        height: 25px;
    }
</style>
<div style="display:flex;justify-content:space-between; text-align: center; margin: 10px; border-bottom: 2px solid gray; color: #008080;">
    <h4>@User.Name (@User.MaPB)</h4>
    @if (User.Role_QuanLyUser == true)
    {
        <a href="@Url.Action("Index","QLUser")" class="btn" style=" font-size: x-large;"><i class="fa fa-users-cog"></i>&nbsp;Phân quyền</a>
    }
</div>

<div style="margin:10px; display:flex;">
    <div style="width:50%;margin-right:5%;">
        <div style=" text-align: center; margin: 15px; padding: 5px; background-color: #33cccc; color: white;">
            <h5>Thông tin tài khoản</h5>
        </div>
        <div class="dong">
            <span class="cot1">ADID </span>
            <span class="cot2">@User.ADID</span>
        </div>
        <div class="dong">
            <span class="cot1">Họ và tên</span>
            <span class="cot2">@User.Name</span>
        </div>
        <div class="dong">
            <span class="cot1">Mail</span>
            <span class="cot2">@User.Mail</span>
        </div>
        <div class="dong">
            <span class="cot1">Phòng ban</span>
            <span class="cot2">@User.MaPB</span>
        </div>
        <div class="dong">
            <span class="cot1">Quyền phát hành lỗi</span>
            <span class="cot2">
                @if (User.Role_PhatHanhLoi == true)
                {
                    <span class="cot2"><i class="fa fa-check"></i></span>
                }
                else
                {
                    <span class="cot2"><i class="fa fa-times"></i></span>
                }
            </span>
        </div>
        <div class="dong">
            <span class="cot1">Quyền phê duyệt</span>
            <span class="cot2">
                @if (User.Role_PheDuyet == true)
                {
                    <span class="cot2"><i class="fa fa-check"></i></span>
                }
                else
                {
                    <span class="cot2"><i class="fa fa-times"></i></span>
                }
            </span>
        </div>
        <div class="dong">
            <span class="cot1">Quyền quản lý User</span>
            <span class="cot2">
                @if (User.Role_QuanLyUser == true)
                {
                    <span class="cot2"><i class="fa fa-check"></i></span>
                }
                else
                {
                    <span class="cot2"><i class="fa fa-times"></i></span>
                }
            </span>
        </div>
        <div class="dong">
            <span class="cot1">Quyền nhập kho</span>
            <span class="cot2">
                @if (User.Role_NhapKho == true)
                {
                    <span class="cot2"><i class="fa fa-check"></i></span>
                }
                else
                {
                    <span class="cot2"><i class="fa fa-times"></i></span>
                }
            </span>
        </div>
        <div class="dong">
            <span class="cot1">Quyền xuất kho</span>
            <span class="cot2">
                @if (User.Role_NhapKho == true)
                {
                    <span class="cot2"><i class="fa fa-check"></i></span>
                }
                else
                {
                    <span class="cot2"><i class="fa fa-times"></i></span>
                }
            </span>
        </div>
        <div class="dong">
            <span class="cot1">Quyền kiểm kê</span>
            <span class="cot2">
                @if (User.Role_KiemKe == true)
                {
                    <span class="cot2"><i class="fa fa-check"></i></span>
                }
                else
                {
                    <span class="cot2"><i class="fa fa-times"></i></span>
                }
            </span>
        </div>
    </div>
    <div style="width:50%;">
        <div>
            <div style=" text-align: center; margin: 15px; padding: 5px; background-color: #33cccc; color: white;">
                <h5>Lỗi đã phát hành</h5>
            </div>
            @foreach (var item in loiPH)
            {
                <div style="text-align: center; border-bottom: 1px solid gray; margin:10px 25px;">
                    <a href="@Url.Action("Details","DetailLoi",new {id = item.ID})" class="btn">@item.Maloi</a>
                </div>
            }
        </div>
        <div>
            <div style=" text-align: center; margin: 15px; padding: 5px; background-color: #33cccc; color: white;">
                <h5>Lỗi đang đảm nhiệm</h5>
            </div>
            @foreach (var item in loiDN)
            {
                <div style="text-align: center; border-bottom: 1px solid gray; margin:10px 25px;">
                    <a href="@Url.Action("Details","DetailLoi",new {id = item.ID})" class="btn">@item.Maloi</a>
                </div>
            }
        </div>
    </div>
</div>

