@model QLDayChuyenSanXuat.Models.tbl_DoiSachCoHuu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_DoiSachCoHuu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaLoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhanLoaiDSCH_Lon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanLoaiDSCH_Lon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhanLoaiDSCH_Nho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanLoaiDSCH_Nho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiXN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiXN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkFileDinhKem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkFileDinhKem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoCungSuKien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoCungSuKien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiTietTV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiTietTV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiTietTN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiTietTN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
