@model QLDayChuyenSanXuat.Models.tbl_User
@using QLDayChuyenSanXuat.Models
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLDayChuyenSX db = new QLDayChuyenSX();
    var listPB = db.tbl_PhongBan.Select(x => x.MaPB).ToList();
}

<style>
    .dong {
        margin: 3% 5%;
        display: flex;
        height: 8%;
    }

    .cot1 {
        max-width: 30%;
        width: 30%;
        display: block;
        font-weight: bold;
    }

    .cot2 {
        width: 70%;
        max-width: 70%;
        border-radius: 5px;
        border: 1px solid gray;
    }

    .cot3 {
        width: 70%;
        text-align: center;
    }

    .check {
        width: 25px;
        height: 25px;
    }
</style>

<div style="text-align: center; margin: 15px; border-bottom: 2px solid gray; color: #008080;">
    <h4>Cập nhật thông tin tài khoản User</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="margin:15px; display:flex;">
        <div style="width:50%;margin-right:5%;">
            <div style=" text-align: center; margin: 20px; padding: 5px; background-color: #33cccc; color: white;">
                <h5>Thông tin tài khoản</h5>
            </div>
            <div class="dong">
                <span class="cot1">ADID <span style="color:red;">*</span></span>
                <input class="cot2" type="text" name="ADID" value="@Model.ADID" />
            </div>
            <div class="dong">
                <span class="cot1">Họ và tên <span style="color:red;">*</span></span>
                <input class="cot2" type="text" name="Name" value="@Model.Name" />
            </div>
            <div class="dong">
                <span class="cot1">Mail <span style="color:red;">*</span></span>
                <input class="cot2" type="text" name="Mail" value="@Model.Mail" />
            </div>
            <div class="dong">
                <span class="cot1">Phòng ban <span style="color:red;">*</span></span>
                <select class="cot2" name="MaPB" id="MaPB">
                    @foreach (var item in listPB)
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
            <input class="cot2" type="text" name="Password" value="@Model.Password" hidden/>
        </div>
        <div style="width:50%;">
            <div style=" text-align: center; margin: 20px; padding: 5px; background-color: #33cccc; color: white;">
                <h5>Thông tin quyền</h5>
            </div>
            <div class="dong">
                <span class="cot1">Quyền phát hành lỗi</span>
                <div class="cot3">
                    @Html.CheckBoxFor(model => model.Role_PhatHanhLoi, new { @class = "check" })
                </div>
            </div>
            <div class="dong">
                <span class="cot1">Quyền phê duyệt</span>
                <div class="cot3">
                    @Html.CheckBoxFor(model => model.Role_PheDuyet, new { @class = "check" })
                </div>
            </div>
            <div class="dong">
                <span class="cot1">Quyền quản lý User</span>
                <div class="cot3">
                    @Html.CheckBoxFor(model => model.Role_QuanLyUser, new { @class = "check" })
                </div>
            </div>
            <div class="dong">
                <span class="cot1">Quyền nhập kho</span>
                <div class="cot3">
                    @Html.CheckBoxFor(model => model.Role_NhapKho, new { @class = "check" })
                </div>
            </div>
            <div class="dong">
                <span class="cot1">Quyền nhập kho</span>
                <div class="cot3">
                    @Html.CheckBoxFor(model => model.Role_XuatKho, new { @class = "check" })
                </div>
            </div>
            <div class="dong">
                <span class="cot1">Quyền kiểm kê</span>
                <div class="cot3">
                    @Html.CheckBoxFor(model => model.Role_KiemKe, new { @class = "check" })
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center;margin:20px;">
        <input type="submit" value="Cập nhật" class="btn btn-primary" />
    </div>
    @*<div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ADID)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaPB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaPB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaPB, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Role_PhatHanhLoi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Role_PhatHanhLoi)
                        @Html.ValidationMessageFor(model => model.Role_PhatHanhLoi, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Role_PheDuyet, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Role_PheDuyet)
                        @Html.ValidationMessageFor(model => model.Role_PheDuyet, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Role_NhanMailCC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Role_NhanMailCC)
                        @Html.ValidationMessageFor(model => model.Role_NhanMailCC, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Role_QuanLyUser, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Role_QuanLyUser)
                        @Html.ValidationMessageFor(model => model.Role_QuanLyUser, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Role_XuatKho, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Role_XuatKho)
                        @Html.ValidationMessageFor(model => model.Role_XuatKho, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Role_NhapKho, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Role_NhapKho)
                        @Html.ValidationMessageFor(model => model.Role_NhapKho, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Role_KiemKe, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Role_KiemKe)
                        @Html.ValidationMessageFor(model => model.Role_KiemKe, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>*@
}

<div style=" color: cornflowerblue; font-size: large;">
    &nbsp;&nbsp;<i class="fas fa-arrow-left"></i>&nbsp;<a href="@Url.Action("Index", "QLUser")" style=" color: cornflowerblue;">Back to list</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {
        var selectionPB = document.getElementById("MaPB");
        var optionPb = "@Model.MaPB";
        selectionPB.value = optionPb;

    });
</script>