@model IEnumerable<QLDayChuyenSanXuat.Models.tbl_PhieuNhap>
@using QLDayChuyenSanXuat.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLDayChuyenSX db = new QLDayChuyenSX();

    var trangThai = Model.Select(x => x.TrangThai).Distinct().ToList();
    var nguoiUpdate = Model.Select(x => x.NguoiCapNhat).Distinct().ToList();
    var nguoiTaoDon = Model.Select(x => x.NguoiTaoPhieu).Distinct().ToList();
    var adIds = Model.Select(x => x.NguoiNhan).Distinct().ToList();
    var listPB = db.tbl_User.Where(u => adIds.Contains(u.ADID)).Select(u => u.MaPB).ToList();

}
@if (TempData["ThongBao"] != null)
{
    <div class="modal fade" id="ThongBaoModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align:center;">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="modalTitle">Thông báo</h5>
                </div>
                <div class="modal-body" style="display:grid;">
                    <div>
                        <i class="fa fa-check-circle" style="background-color: green; color: white; border-radius: 50%; padding: 8px;font-size:50px;"></i>
                    </div>
                    @TempData["ThongBao"]
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#ThongBaoModal').modal('show');
        });
    </script>
}
<div style="margin:1%;">
    <div style="display:flex;justify-content:space-between;margin-bottom:20px;">
        <div style="display:flex;justify-content:left;width:25%">
            <select name="timerange" class="form-control" style="width: 45%; color: #00b386;" onchange="filterChanged(this)">
                <option value="">Lựa chọn thời gian</option>
                <option value="7">7 ngày</option>
                <option value="30">1 tháng</option>
                <option value="All">Tất cả</option>
            </select>
            <button class="form-control" style="width: 20%; margin: 0 10px; color: #00b386;" onclick="rowFilterr()">Lọc</button>
        </div>
        <a href="@Url.Action("Create","PhieuNhap")" class="btn btn-danger">Tạo Phiếu Nhập Kho</a>
        <form action="@Url.Action("Index","PhieuNhap")" method="get">
            <div style="display: flex; align-items: center; padding: 0 10px; border: 1px solid; border-radius: 20px;">
                <input name="sophieu" type="text" placeholder="Tìm kiếm..." style="border:none;" />
                <button style="background:none;border:none;"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <div>
        <table class="table-container">
            <tr>
                <th>Mã phiếu</th>
                <th>Trạng thái</th>
                <th>Ngày tạo đơn</th>
                <th>Phòng ban</th>
                <th>Người tạo đơn</th>
                <th>Người nhận</th>
                <th>Người cập nhật</th>
                <th>Thời gian cập nhật</th>
            </tr>
            <tr id="rowFilter" style="display:none">
                <td></td>
                <td>
                    <select name="TrangThai" style="width:100%;" onchange="filterChanged(this)">
                        <option value="">-Chọn-</option>
                        <option value="All">Tất cả</option>
                        @foreach (var item in trangThai)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </td>
                <td></td>
                <td>
                    <select name="PhongBan" style="width:100%;" onchange="filterChanged(this)">
                        <option value="">-Chọn-</option>
                        <option value="All">Tất cả</option>
                        @foreach (var item in listPB)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </td>
                <td>
                    <select name="NguoiTP" style="width:100%;" onchange="filterChanged(this)">
                        <option value="">-Chọn-</option>
                        <option value="All">Tất cả</option>
                        @foreach (var item in nguoiTaoDon)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </td>
                <td>
                    <select name="NguoiNhan" style="width:100%;" onchange="filterChanged(this)">
                        <option value="">-Chọn-</option>
                        <option value="All">Tất cả</option>
                        @foreach (var item in adIds)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </td>
                <td>
                    <select name="NguoiUpdate" style="width:100%;" onchange="filterChanged(this)">
                        <option value="">-Chọn-</option>
                        <option value="All">Tất cả</option>
                        @foreach (var item in nguoiUpdate)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </td>
                <td></td>
            </tr>
            @foreach (var item in Model)
            {
                var pb = db.tbl_User.Where(x => x.ADID == item.NguoiNhan).FirstOrDefault().MaPB;
                <tr>
                    <td><a href="@Url.Action("Edit", "PhieuNhap", new {sophieu = item.SoPhieu})" class="btn">@item.SoPhieu</a></td>
                    <td>@item.TrangThai</td>
                    <td>@(item.NgayLap.HasValue ? item.NgayLap.Value.ToString("dd-MM-yyyy") : "")</td>
                    <td>@pb</td>
                    <td>@item.NguoiTaoPhieu</td>
                    <td>@item.NguoiNhan</td>
                    <td>@item.NguoiCapNhat</td>
                    <td>@item.TimeUpdate</td>
                </tr>
            }
        </table>
    </div>
</div>

<style>
    .TienDo {
        font-size: 17px;
        text-decoration: none;
        border: 1px solid #f2f2f2;
    }

    .table-container {
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #66ccff;
        text-align: center;
        color: honeydew;
    }
</style>
<script>
    function rowFilterr() {
        var row = document.getElementById("rowFilter");
        if (row.style.display === "none" || row.style.display === "") {
            row.style.display = "table-row";
        } else {
            row.style.display = "none";
        }
    }
    function filterChanged(select) {
        const value = select.value;
        const url = new URL(window.location.href);
        url.searchParams.set(select.name, value);
        window.location.href = url.toString();
    }

</script>