@model QLDayChuyenSanXuat.Models.tbl_NguyenNhan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_NguyenNhan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaLoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhanLoaiNN_Lon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanLoaiNN_Lon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhanLoaiNN_Nho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanLoaiNN_Nho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoNgayClose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoNgayClose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DealineCloseNN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealineCloseNN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DealineCloseDSTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealineCloseDSTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DealineGhiNhapDSCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealineGhiNhapDSCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DealinePheDuyetDSCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealinePheDuyetDSCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DealineGhiNhapHQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealineGhiNhapHQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DealinePheDuyetHQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealinePheDuyetHQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkFileDinhKem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkFileDinhKem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoCungSuKien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoCungSuKien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiTietTV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiTietTV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiTietTN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiTietTN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
